html {
  background: #fff;
}

#principal {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}


.navbar {
  display: flex;
  margin: 10px 30px;
}

.construction-protocol {
  display: flex;
}

.selectedProtocol select {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  margin-left: 30px;
}

.selectedConstruction select {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  margin-left: 30px;
  width: 350px;
}

.selectedConstruction select:hover,
.selectedProtocol select:hover {
  background-color: #f5f5f5;
}

.selectedProtocol select {
  width: 400px;
}

.principalSearch button:hover {
  background-color: #4a9ef8;
}

.link-temporario {
  display: flex;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .construction-protocol,
  .selectedConstruction,
  .selectedProtocol {
    flex-direction: column;
    align-items: center;
  }
  
  .selectedConstruction select,
  .selectedProtocol select,
  .Search input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .Search-result table {
    margin-left: 0;
    width: 100%;
  }
}
