/* #container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  background: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.DadosProjeto,
.DadosEndereco {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.SelectTipoPessoa {
  display: inline;
}

.SelectTipoPessoa select{
  border-radius: 5px;
  font-size: 1em;
  position: relative;
  top: -60px;
  left: 400px;
  color: #696969;
  background: #fff;
}

.SelectTipoPessoa option{
  background-color: #fff;
}


.DadosProprietario input,
.DadosProjeto input,
.DadosEndereco input,
.DadosProjeto select,
.DadosEndereco select {
  color: #696969;
  background: #fff;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
}

.checkboxOwner {
  display: block;
}

.checkboxOwner span{
  position: relative;
  right: 330px;
  top: -10px;
}

.checkboxOwner input{
  position: relative;
  right: 165px;
  top: -10px;
}

.checkboxResponsabile {
  flex-direction: row;
}

.checkboxResponsabile input{
  margin-bottom: 10px;
}

.checkboxResponsabile input:checked{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DadosProprietario {
  height: auto;
}

.Reponsabile input, .Reponsabile select {
  margin: 5px;
}

.SelectTechinical select {
  color: #696969;
  background: #fff;
}

.checkboxResponsabile input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxTechnical {
  position: relative;
  right: 170px;
  top: 40px;
  padding-bottom: 60px;
}

.checkboxTechnical span{
  position: relative;
  right: 165px;
  padding-bottom: 60px;

}

.propritarioButton {
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  top: 150px;
  left: -10px;
}

.DadosEndereco button {
  height: 50px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dadosTerreno select{
  width: 35%;
  padding: 12px;
  margin-top: 20px;
  margin-left: 20px;
  right: 12px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  float: left;
  color: #696969;
  background: #fff;
  border:1px solid #ccc;
}

.dadosTerreno select option{
  font-size: 1em;
  color: #696969;
  background: #fff;
}

.dadosTerreno input{
  width: 35%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
  right: 12px;
}

.dadosTerreno {
  width: 100%;
  height: auto;
}

.AddBasementeLabel input{
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
  right: 20px;
}

.AddBasementeLabel {
  color: #696969;
  width: 35%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 50px;
  float: left;
}

.AddBasementeLabel button {
  padding: 10px 20px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}


.RegistrationProcessButton {
  padding: 15px 50px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.RegistrationProcessButton:hover,
.RegistrationProcessButton:active {
  background: #0582bd;
  color: #ece8e8;
}

@media (max-width: 900px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  .DadosProprietario,
  .DadosProjeto,
  .DadosEndereco {
    width: 100%;
  }

  .DadosProprietario input,
  .DadosProjeto input,
  .DadosEndereco input,
  .DadosProprietario select,
  .DadosProjeto select,
  .DadosEndereco select {
    margin-right: 0;
  }
} */
