#container {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  background: #fff;
  margin-top: 100px;
  margin-left: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

select {
  background: #fff;
  color: #696969;
  border: 1px solid #ccc;
}

.ownerData,
.projectData,
.addresData {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 40px;
}

.ownerData .flex-container,
.projectData .flex-container,
.addresData .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.ownerData input {
  width: 35%;
  padding: 12px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-bottom: 15px;
  position: relative;
  right: 12px;
}

.projectData input,
.addresData input {
  width: 35%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
  right: 12px;
}

.addresData input {
  width: 35%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
  right: 12px;
}

.addOwn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.propertyData input {
  width: 35%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 60px;
  position: relative;
  right: 12px;
}

.addOwn button {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  margin-left: 10px;
  background: #3a86ff;
  color: #fff;
  border: none;
}

.addTechinical button {
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  margin-left: 10px;
  background: #3a86ff;
  color: #fff;
  border: none;
}

.addresData button {
  height: 50px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
}

.propertyData select {
  width: 35%;
  padding: 12px;
  margin-top: 20px;
  margin-left: 60px;
  right: 14px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  float: left;
  border: 1px solid #ccc;
}

.propertyData select option {
  font-size: 1em;
  color: #696969;
  background: #fff;
}

.ownerData .SelecttypePeople select {
  width: 35%;
  padding: 12px;
  top: -55px;
  left: 440px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  margin-left: 20px;
  position: relative;
  right: 12px;
  float: left;
}

.projectData .SelectTechinical select {
  width: 35%;
  padding: 12px;
  top: 0px;
  left: -11px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  margin-left: 20px;
  position: relative;
  right: 12px;
}

select {
  background: #fff;
  color: #696969;
  border: 1px solid #ccc;
}

.propertyData {
  width: 100%;
  height: auto;
}

.RegistrationProcessButton {
  padding: 15px 50px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 50px;
  position: relative;
  left: 500px;
}

.RegistrationProcessButton:hover,
.RegistrationProcessButton:active {
  background: #0582bd;
  color: #ece8e8;
}

@media (max-width: 900px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  .ownerData,
  .projectData,
  .addresData {
    width: 100%;
  }

  .ownerData input,
  .projectData input,
  .addresData input,
  .ownerData select,
  .projectData select,
  .addresData select {
    margin-right: 0;
  }
}

.minAddressData {
  width: 30%;
  display: flex;
  flex-direction: row;
}