#container {
  #container {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    background: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #5c5b5b;
  }
  
}

.DadosProprietario,
.DadosProjeto,
.DadosEndereco,
.DadosTerreno {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid red;
}

.line-with-name {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.DadosProprietario input,
.DadosProjeto input,
.DadosEndereco input,
.DadosTerreno input,
.DadosProprietario select,
.DadosProjeto select,
.DadosEndereco select,
.DadosTerreno select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
}

.propritarioButton {
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  top: 150px;
  left: -10px;
}


.DadosProjeto button,
.DadosEndereco button,
.DadosTerreno button {
  height: 50px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
}


.RegistrationProcessButton {
  padding: 20px;
  background: #3a86ff;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  top: -50px;
}

.RegistrationProcessButton {
  padding: 15px 50px;
}

.RegistrationProcessButton:hover,
.RegistrationProcessButton:active {
  background: #0facf5;
  color: #ece8e8;
}

@media (max-width: 900px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  .DadosProprietario,
  .DadosProjeto,
  .DadosEndereco,
  .DadosTerreno {
    width: 100%;
  }

  .DadosProprietario input,
  .DadosProjeto input,
  .DadosEndereco input,
  .DadosTerreno input,
  .DadosProprietario select,
  .DadosProjeto select,
  .DadosEndereco select,
  .DadosTerreno select {
    margin-right: 0;
  }
}
