#registration-container {
  max-width: 978px;
  width: 100%;
  height: 1200px;
  margin: 2% auto 2% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #5c5b5b;
}

.form-group-register {
  flex: 1;
  padding: 50px;
}

.blocoRegistration {
  width: auto;
  height: auto;
  position: relative;
  bottom: 30px;
  left: -25px;
  top: 100px;
  /* border: 1px solid red; */
}

.blocoRegistration h2 {
  font-size: 2em;
  color: rgb(0, 153, 255);
  text-transform: uppercase;
  margin-top: -100px;
  margin-left: 360px;
}

.form-group-register input {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  font-size: 1em;
}

.form-group-register label {
  color: #3f3f3f;
  font-size: 1em;
}

.buttonRegistration {
  height: 30px;
  width: 100%;
  max-width: 345px;
  background: #3a86ff;
  padding: 20px auto;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.buttonRegistration:hover,
.buttonRegistration:active {
  background: #56c6fa;
  color: #000;
}

.logoRegister img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -20px;
  left: 200px;
}

.cadastroLink {
  margin-top: 20px;
}

.cadastroLink a {
  color: #0084ff;
  text-decoration: none;
}

.cadastroLink a:hover {
  color: #000;
}

.greenLineRegister {
  width: 100%;
  max-width: 800px;
  border: 1px solid rgb(122, 224, 144);
  margin-top: 20px;
}

.Select {
  width: 100%;
  height: 45px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #7a7171;
  background: #fff;
  margin-top: 10px;
}

.Select:hover {
  background: #ebebeb;
  color: #000;  
}

.form-Address {
  width: auto;
  height: auto;
  margin: 10px 0px 0px 0px;
}

.line-with-name {
  display: block;
  position: relative;
  text-align: center;
  margin: 30px 0;
  color: #3f3f3f;
}

.line-with-name::before,
.line-with-name::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}

.line-with-name::before {
  margin-right: 20px;
}

.line-with-name::after {
  margin-left: 20px;
}

.line-with-name span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  top: -8px;
  font-size: 16px;
  color: #707070;
}

