#registration-container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #5c5b5b;
  position: relative;
}


.form-group-register {
  flex: 1;
  padding: 20px;
}

.blocoRegistration {
  width: 100%;
  position: relative;
  bottom: 30px;
  justify-content: center;
  margin-top: 200px;
}

.blocoRegistration h1 {
  font-size: 2.5em;
  color: rgb(0, 153, 255);
  text-transform: uppercase;
  margin-top: -220px;
  margin-bottom: 50px;
 justify-content: center;
 text-align: center;
  display: block;
}

.form-group-register input {
  width: 98%;
  padding: 12px;
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  font-size: 1em;
}

.form-group-register label {
  color: #3f3f3f;
  font-size: 1em;
  margin-left: 5px;
}

.form-group-register input::placeholder{
  color: #a0a0a0
}

.buttonRegisterExternalClient {
  display: flex;
}

.buttonRegistration {
  width: 100%;
  max-width: 300px;
  background: #3a86ff;
  padding: 10px;
  border: none;
  font-size: 1.4em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cadastroLink {
  margin-top: 90px;
  margin-left: 40%;
  position: relative;
}

.buttonRegistration:hover,
.buttonRegistration:active {
  background: #5595fd;
}

.logoRegister {
  width: 250px;
  top: -170px;
  position: relative;
}

.cadastroLink a {
  color: #0084ff;
  text-decoration: none;
}

.cadastroLink a:hover {
  color: #000;
}

.greenLineRegister {
  width: 100%;
  max-width: 800px;
  border: 1px solid rgb(122, 224, 144);
  margin-top: 20px;
}

.select-container {
  display: inline-block;
  gap: 10px;
  margin-bottom: 20px;
  width: 300px;
  margin-right: 40px;
}

.Select select,
.selectEstado select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 5px;
}

.Select select option,
.selectEstado select option {
  font-size: 1em;
  color: #555;
  background: #f0f0f0;
}

.Select select:hover,
.selectEstado select:hover {
  background: #f5f5f5;
}

.form-Address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-Address input {
  padding: 10px;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  font-size: 1em;
}

.line-with-name {
  display: block;
  position: relative;
  text-align: center;
  margin: 30px 0;
  color: #3f3f3f;
}

.line-with-name::before,
.line-with-name::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}

.line-with-name::before {
  margin-right: 20px;
}

.line-with-name::after {
  margin-left: 20px;
}

.line-with-name span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  top: -8px;
  font-size: 16px;
  color: #707070;
}