.ResizingObjectIntendedSituation {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 40px;
}

.ResizingObjectIntendedSituation input {
  width: 35%;
  padding: 12px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  margin-left: 20px;
  position: relative;
  right: 12px;
  float: left;
  margin-bottom: 20px;
}

.ResizingObjectIntendedSituation select {
  width: 35%;
  padding: 12px;
  margin-left: 20px;
  right: 12px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}
