.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: -150px;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  cursor: pointer;
}

.sidebar.open {
  left: 0;
}

.toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.toggle-icon {
  font-size: 35px;
  color: #3d83ce;
}

.menu {
  margin-top: 0px;
  width: 100%;
  padding-left: 10px;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.arrow {
  font-size: 14px;
}

.submenu {
  margin-top: 10px;
  padding-left: 20px;
}

.submenu-item {
  padding: 8px 0;
  cursor: pointer;
}
