.sideBarUrbanismo {
  position: fixed;
  width: 200px;
  height: 100%;
  margin-top: 100px;
  background: #fff;
  transition: transform 0.3s;
  transform: translateX(0);
  top: 0;
  overflow: hidden;
  z-index: 9;
  margin-left: -2px;
}

.sideBarUrbanismo h2 {
  padding: 20px;
}

.sideBarUrbanismo select {
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
}

.custom-select option {
  border: 1px solid #fff;
  background-color: white;
  color: black;
}

.sideBarUrbanismo.open {
  transform: translateX(-150px);
}

.hamburgerIcon {
  position: relative;
  top: 5px;
  left: 150px;
  font-size: 30px;
}

.hamburgerIcon {
  font-size: 30px;
  cursor: pointer;
}

.sideBarUrbanismo > div {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 100%;
}
